*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    

}
.mobileMessage{
  display: none;
  font-size: 0.4rem;
  margin: 20px;
}
.header .logo{
  color: rgb(5, 5, 5);
    font-size: 2rem;
    text-shadow: 3px 2px 2px #ff78cb;
    text-decoration: underline;
    font-family: 'Lora', serif;
  font-style: italic;
}

.header span{
    padding: 2px;
}
#menu{
    margin-right:32px;
  font-size:1.8rem;

}
.header{
  position:fixed;
  top:0;
  left: 0;
  width:100%;
  height: 50px;
  padding: 5px;
  background:#f2f1ef;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.logo{
  font-size:1.2rem;
  margin-left:14px;
  font-weight:800;
  cursor:pointer;
  text-decoration: none;
}
.nav a{
 color: rgb(222, 220, 220);
 cursor: pointer;
 font-size: 1.1rem;
 margin: 0px 10px 0px 10px;
 font-family: 'Abril Fatface';
 font-weight: bold;
  text-decoration: none;
  margin-right: 30px;


}


.main-container{
  display: flex;
  margin-top: 70px;
 background-color: #f6f4f4;
       width: 100%;
      height: 100%;
    justify-content: space-around;
}

.menu-item{
  /* width:29%; */
  margin-left:-44px;
}

.menu-item h1{
  text-align: center;
  color:white;
  background-color: black;
}

#item-name{
  background-color: white;
  border: 1px solid black;
  width: 14vw;
  height: 100vh;

}

#item-name ul{
  list-style: none;
  text-align: center;
}

#item-name li{
  padding-top: 40px;
   font-family: 'Abril Fatface';
   font-size: 1.4rem;
 font-weight: bold;

}

#item-name li:hover{
  color: rgb(0, 110, 255);
  cursor: pointer;
}

.section{
  margin-left:10px;
 background-color: white;
 border: 1px solid rgb(36, 32, 32);
  width: 40%;
  height: 100%;
}
.item-container{
  display: grid;
  grid-template-columns: auto auto ;
}
#item-box{
  width:200px;
  height:100px;
  background-color: rgb(242, 243, 243);
  padding: 10px;
  margin: 20px 2px 2px 6px;
  border-radius: 12px;
  cursor: pointer;
}

/* input box size increase */
#item-box input{
  margin-top: 4px;
  width:30px;
  height: 20px;
}
.Item-name-select-btn{
 display: flex;
  justify-content: space-between;
  margin-top: -10px;
  height: 52px;
  
}
#item-box h1{
  font-size: 1.4rem;
}
button{
  padding: 2px;
}
.billing{
 background-color: white;
 border:1px solid rgb(52, 44, 44);
  width: 30%;
  margin-right:20px;
  height: 100%;
}
#billing-page, #coffee-text{
  text-align: center;
  color: rgb(5, 5, 5);
  border-bottom: 2px solid red;
}

#qunatity{
    background-color:white;
    border: 1px solid rgb(136, 111, 111);
    border-radius: 4px;
    width:10px;
    padding: 1px 8px 1px 8px;
}

#qunatity:hover{
    background-color: rgb(168, 191, 195);
    border-color: aliceblue;
    cursor: pointer;
}
#make-bill{
  width:100%;
  font-size: 1.0rem;
  padding:3px;
  color:black;
  font-family: 'Abril Fatface';
 font-weight: bold;
}

#make-bill:hover{
 border:2px solid rgb(247, 250, 251);
 border-radius:4px;
 cursor: pointer;
 color:white;
 background-color:rgb(193, 193, 181) ;
}

#item-box span{
  display: flex;
  margin-top: 18px;
  padding: 3px;
  justify-content: space-around;
  background-color: #c9c9ab;
}

table {
        width: 100%;
        height: 100%;
      border-collapse: collapse;
      margin-top: 10px;
 border-bottom: 1px solid #ddd;

}

 th, td {
      padding: 8px;
      border-bottom: 1px solid #ddd;
      text-align: left;
    }

     #print-bill{
 display: none;      /* default hidden */

    } 
.bill-container {
      max-width: 400px;
      margin: auto;
      background: white;
      padding: 20px;
      border-radius: 12px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

h2, p {
      text-align: center;
      margin: 0;
    }
    .price-taxes p{
      padding:4px;
    }

     .bill-container button {
      width: 100%;
      padding: 10px;
      margin-top: 15px;
      background: #007BFF;
      border: none;
      color: white;
      font-size: 16px;
      border-radius: 8px;
      cursor: pointer;
    }
    .bill-container button:hover {
      background: #0056b3;
    }

.bill-time-Title{
 display: flex;
    align-items: center;
    justify-content: space-around;
}

@media(min-width:750px) and (max-width:1023px){

  .section{
    margin-top:70px;
    width: 50%;
  }
  .billing{
    margin-top:70px;
    /* margin-right:10px; */
    width: 40%;
  }
#item-box, .item-container{
  width: 150px;
}
  #item-name{
    height: 0;
    width: 0;
  }
  .menu-item h1{
    display: none;
  }
  #item-name li{
    font-size: 0.8rem;
    padding: 4px;
    background-color: #ddd;
    border-radius: 10px;
    padding: 6px;

  }
  #item-name ul{
    background-color: white;
    padding: 4px;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    margin-left:20px;

  }

}
@media (min-width:1024px) and (max-width:1439px){
  .section{
    width:50%;
    margin-left: 20px;
  }
  .billing{
    margin-right:0;
  }
  #item-name{
    width:20vw;
  }
}
@media (max-width:749px) {

  .main-container,.header{
    opacity: 0;
  }
  
  .mobileMessage{
  display:block;
}
}
