*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins",sans-serif;
}

:root{
  --bg-color:#fcfcfc;
}



.my-header .logo{
 color: #ff75be;
  text-shadow: 2px 2px 4px #000000;
  font-size: 2.0rem;
  margin-left:2px;
}

#menu-icon{
  display: none;
}
.my-header{
  position:fixed;
  top:0;
  left: 0;
  width:100vw;
  height: 50px;
  padding: 2rem 5% 2rem;
background-color: #f7f5f4;
box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items:center;
  z-index:5;

}

.logo,.Menu-logo{
  font-size:1.2rem;
  font-weight:800;
  cursor:pointer;
}

.navbar{
  margin-top: 25px;;
}
.navbar a{
 color: rgb(6, 6, 6);
 cursor: pointer;
 font-size: 1.1rem;
 margin: 20px 10px 0px 10px;
 font-family: 'Abril Fatface';
 font-weight: bold;

}

.Menu-my-header{
  position:fixed;
  top:0;
  left: 0;
  width:100%;
  height: 50px;
  padding: 2rem 5% 2rem;
background-color: #6F4E37;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items:center;
  z-index:5;
}
.Menu-logo{
  color:rgb(255, 255, 255);
  font-size: 2.0rem;
  margin-left:2px;
}
.Menu-nav a{
   color: rgb(255, 255, 255);
 cursor: pointer;
 font-size: 1.1rem;
 margin: 20px 10px 0px 10px;
 font-family: 'Abril Fatface';
 font-weight: bold;
}

/* main  cafe page navbar  */
.navbar a:hover{
 cursor: pointer;
 color:rgb(10, 199, 232);
  background-color: #f6f4f4;
  border:1px solid burlywood;
  padding: 2px;
  border-radius: 4px;

}

/* Menu item nav  */

.Menu-nav a:hover{
 cursor: pointer;
  color:rgb(10, 199, 232);
  background-color: #f6f4f4;
  border:1px solid burlywood;
  padding: 2px;
  border-radius: 4px;

} 

.highlight{
  width:153px;
  background-color: rgb(255, 255, 255);
  color:#050505;
  border:1px solid whitesmoke;
  border-top: -10px;
  border-radius: 4px;
    text-align: center;
    margin-bottom: -61px;
    margin-left: 213px;
    padding: 3px 0px 5px 0px;
  animation: 2s ease blink;

}



.arrow{
  position: inherit;
  top: -10px;
  left: 50%;
  margin-left:90%;
  transform: translateY(16%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid #ffffff;
  animation: 2s ease blink;

}


@keyframes blink{
  0%{
    color:#6F4E37;
    font-size: 1rem;
  }
  50%{
    color:#fffefe;
     font-size: 1.2rem;
  }
  75%{
    color:#6F4E37;
     font-size: 1rem;
  }
  100%{
    color:#fffefe;
     font-size: 1.2rem;
  }
}

.main-container{
 width: 100vw;
 height: 96vh;
 display: flex;
display: flex;
justify-content: center;
align-items: center;
margin-top: 70px;
 background-size: cover;
 background-image: url("cafe.png");
}


.item-menu{
      width: 100vw;
    border-top: 2px solid ;
    margin-top: 60px;
   
  }
  
  .item-menu h1{
    text-align: center;
    font-size: 2rem;
    background-color: #b5b4b4;
   color: #6F4E37;

  }
  .item-box{
    background: #b5b4b4;
  display: grid;
    grid-template-columns: auto auto auto auto ;
}



#item1{
 width: 260px;
  height: 375px;
  border-radius: 10px;
  color: white;
   background-color: rgba(167, 164, 164, 0.5);
  border: 1px solid#6F4E37;
  margin: 4px;
}

#item-img{
      width: 230px;
    height: 172px;
    margin: 8px 0px 0px 16px;
}
#description{
      overflow-wrap: break-word;
    white-space: normal;
        color: #f5f5f5;
    width: 240px;
    margin: 12px 0px 0px 7px;
    text-align: center;
}

#item1 h2{
      color: #6F4E37;
      text-align: center;
    margin-top: 11px;
}
.cont-coffee{
width:100px;
height:50px;
}
.typed-cursor{
  display: none;
}

.Highlight_cafeName{
  color: rgb(151, 171, 237);
    font-size: 1.6rem;
    text-decoration: underline;
}
#welcome-text{
    width:100%;
    margin-top: 20px;
    color: rgb(254, 252, 252);
    font-size: 1.5rem; 
    /* margin-top: 16px;
    color:white;
    font-size: 1.2rem; */
}

.greet div{
    margin-top: 40px;
}

.greet-time{
width:60vw;
height: 240px;
padding: 5px;
background-color: rgba(29, 21, 21, 0.5);
border-radius: 9px;
justify-content: center;
align-items: center;
}


.greet{
margin-top:20px;
font-size: 1.8rem;
font-weight: bold;
color: white;
}


.swiper {
width: 100%;
margin-top: 100px;
margin-left:100px;
height: 500px;
    background-color: #f6f4f4;
border-radius: 12px;
overflow: hidden;
box-shadow: 0 4px 12px rgba(0,0,0,0.2);
position: relative;
}

.swiper-slide {
  display: flex;
  flex-direction: row;
width: 100vw;
height: 100%;
}

.swiper-slide img {
width: 50vw;
height: 100%;
}

.food-info {
width: 60%;
height: 100%;
color: #000;
padding: 20px;
box-sizing: border-box;

} 

.food-info h2 {
color:rgb(8, 8, 8);
margin-bottom: 10px;
font-size: 24px;
}

.food-info p {
font-size: 18px;
line-height: 1.5;
font-weight: bold;
color:rgb(3, 3, 3);
padding: 10px;
border-radius: 8px;
}


.contact-area{
      width: 100vw;
    height: 600px;
    margin-left: 10px;
    margin-top: 2px;
    background-color: #f6f4f4;
    border-top: 2px solid #6F4E37;
    display: flex;
     align-items: center;
    justify-content: center;
   
}

#contact-item{
 background-color: white;
 border: 1px solid black;
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 29px;
    align-items: center;
    justify-content: center;
    height: 350px;
    border-radius: 4px;
}

#contact-us{
  color:rgb(11, 11, 11);
  font-family: 'Abril Fatface';
  font-size: 2.6rem;

}

#contact-data{
  margin-top: 20px;
  font-size: large;
  margin-right: 180px;
  font-family: 'Abril Fatface';

}
.input-box{
  border: none;
  border-bottom: 2px solid #333;
  padding: 8px 0;
  width: 300px;
  font-size: 16px;
  outline: none;
  margin-top: 10px;
  margin-left: 60px;
}

.input-box:hover {
  border-bottom: 2px solid #00d9ff; 
}

#message{
  margin-top: 15px;
  margin-left: 56px;
  width: 300px;
  height: 80px;

}
#btn{
  margin-top: 15px;
  padding: 3px 10px 3px 10px;
  color: #4106f2;
  border: 2px solid rgb(41, 11, 19);
  border-radius: 4px;
  font-family: 'Abril Fatface';
  font-size: 1.0rem;

}
#btn:hover{
  color: #06f2e2;
  background-color: #aa0eda;
  border-color: #6F4E37;

}

.about-section{
    display: flex;
    flex-direction: column;
    border-top: 2px solid #6F4E37;
    width: 100%;
    height:100%;
    padding:20px;
    background-color: #f6f4f4;

}

.about-us{
  display: flex;
}
.about-img{
  margin-left: 100px;
  padding: 20px;
}
.about-us img{
  width:350px;
  height: 300px;

}
.about-msg {
  text-align: center;
  margin-top:15%;
}

.about-item{
  display: grid;
grid-template-columns: auto auto auto;
justify-content: space-around;
  background-color: #6F4E37;
  padding: 10px;
}
.item-area{
  padding: 4px;
  margin-left:20px;
}
 #item-data{
  margin-left:2px;
  font-family:'Abril Fatface' ;
  color:white;
 }
.icon-box{
  font-size: 2rem;
  width: 100px;
  height: 100px;
  padding: 16px;
  margin-left: -9px;
}
#item-name{
  font-size: 1.8rem;
  margin-left: -8px;
  font-family: 'Abril Fatface';
  color:white;
}
.item-box span{
      display: flex;
    margin-top: 18px;
    padding: 3px;
    justify-content: space-around;
    background-color: #a39c9c;
}
.item-box button{
  padding: 4px;
}
.my-checker{
  width: 20px;
  height: 20px;
}
.service-section{
  margin-top: 45px;
  border-top:2px solid #6F4E37;
  background-color: #f6f4f4;
 
}

.service-section h1{
  text-align: center;
  padding: 10px;
  font-size: 2.2rem;
  font-family: 'Abril Fatface';
}
.service-container{
  margin-top: 25px;
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;
}

#service-box{
  background-color: white;
    width: 20%;
    padding:4px;
    border: 1px solid #6F4E37;
    border-radius: 2px;
}
#service-box h1{

  font-size:1.4rem;
  font-family: 'Abril Fatface';
}
#service-box p{
  font-size:1.2rem;
  font-family: 'Abril Fatface';
  padding:2px;
  text-align: center;
  margin-top: 15px;
}

#service-box span{
  display: flex;
  align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.bottom-section{
  background-color: #fbf6f6;
  margin-top: 30px;
  border-top:2px solid #6F4E37;
  height: 200px;

}
.bottom-item{
  display: flex;
  justify-content: space-evenly;
}
.bottom-section h1{
  font-size: 1.4rem;
  margin-top: 20px;
  font-family: 'Abril Fatface';

}
.bottom-section h2,a{
  font-size: 1rem;
  margin: 8px;
  color:rgb(17, 16, 16);
}

.footer-section{
  background-color: #000;
  text-align: center;
  color: white;
}
.bottom-icon{
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-icon a{
  margin:6px;
  font-size: 1.4rem;
  color: rgb(249, 135, 135);
}   

.order-section{
  background-color: rgb(201 183 183);
  width: 35%;
  margin-right:20px;
  height: 600px;
}


/* responsive css */
 
 @media(max-width:600px){

  .main-container{
    margin-top:56px;
    width: 100%;
    height: 50%;
  }
  .greet-time{
    width:100%;

  }
  .greet p{
    font-size: 1rem;
  }
  .greet span{
   font-size: 1.2rem;
  }
  #welcome-text{
    font-size: 14px;
  }
  .Highlight_cafeName{
    font-size: 1.2rem;
    color: rgb(0, 225, 255);
  }

  #swiper-wrapper{
    height: 50%;
  }
.swiper{
  height: 50%;
  background-color: rgb(238, 236, 236);

}

.food-info h2 {
  font-size: 16px;
  color: #06f2e2;
}

.food-info p{
  font-size: 1rem;
  color: rgb(8, 8, 8);
}
  #menu-icon{
    margin-top: 5px;
    display: block;
    color: rgb(5, 5, 5);
  }
  .arrow.highlight{
    display: none;
  }
 
  .my-header{
     left:0;
     padding-bottom:10px;
    position: fixed;
    background-color: white;
  }

   .navbar{
    position: fixed;
    top: 60%;
    right: 0;
    background: rgb(75, 173, 173);
    border-bottom-left-radius:1.1rem ;
    border-bottom: 2px solid rgb(230, 115, 95);
    display: none;


  }
  .navbar.active{
    display: block;
  }
 
  .navbar a{
     display:block;
    font-size: 1rem;
     margin:1rem;
    color: rgb(252, 252, 254);
  }
   .nav a:hover{
    color: #06f2e2;
    cursor: pointer;
  } 
  .my-header .logo{
  font-size: 1.2rem;
  margin-top: 5px;
} 

.contact-area {
  margin-left: 0;
  margin-top: 8px;
  height: 100vh;
  border-radius: 4px;
    margin-top: 0px;
   border-top: 1px solid black;
  background-color: rgb(238, 236, 236);

}
#contact-item {
  width: 90%;
  height: 80%;
  margin-left: 10px;
  margin-top:  6px;
}

#contact-us {
  font-size: 1.4rem;
}

.input-box , #message{
  width: 85%;
  margin-left: 0;
}
.about-section{
  height: 100%;
   background-color: rgb(238, 236, 236);
   border-top: 1px solid black;
   margin-top: 4px;

}

.about-img {
  display:none;
}
.about-msg{
  padding: 4px;
  margin-top: 0;
}

.about-us{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.about-us h1{
  font-size: 1.4rem;
  color: rgb(3, 3, 3);
}

.about-item{
  display: flex;
  flex-direction: column;
   background-color: rgb(238, 236, 236);

}
.item-area{
  margin-top: 4px;
  background-color: white;
  margin-left: 0;
   border: 1px solid rgb(2, 2, 2);

}
 .item-area .icon-box{
  width: 150px;
  color: #000;
}

#item-color{
  color: #000;
}
#item-name{
  color: black;
  font-size: 1.4rem;
  margin: 2px;
}
#item-data{
  color: #000;
  font-size: 1.1rem;
  margin-top: -40px;

}
} 
